[submodule "3rd/tinyformat"]
	path = 3rd/tinyformat
	url = https://github.com/c42f/tinyformat.git
[submodule "3rd/spdlog"]
	path = 3rd/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd/physfs_cxx"]
	path = 3rd/physfs_cxx
	url = https://github.com/zie87/physfs_cxx.git
